<footer>
    <p>© 2024 NOFAW. All rights reserved.</p>
    <div class="social-icons">
        <a href="https://facebook.com/nofawstore" target="_blank" title="Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/nofawtrading" target="_blank" title="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://tiktok.com/nofawtrading" target="_blank" title="Tiktok">
            <i class="fab fa-tiktok"></i>
        </a>
        <a href="https://t.me/nofawtrading" target="_blank" title="Telegram">
            <i class="fab fa-telegram"></i>
        </a>
    </div>
</footer>
